*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    background-color: #6f6f6f;
}

/* Estilizar o header */
header
{
    background-color: #4d4d4d;
    padding: 20px;
    text-align: center;
}

/* Estilizando o nav bar top */
nav
{
    overflow: hidden;
    background-color: #4d4d4d;
}

/* Estilizar os linsks na top nav */
nav a
{
    float: left;
    display: block;
    color: #d6d6d6;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
}

/* A cor do Hover */
nav a:hover
{
    background-color: #b4b4b4;
    color: #4d4d4d;
}

.cortexto
{
    color: #d6d6d6;
}

p
{
    color: #929292;
}

.cortitulo
{
  color: #d6d6d6;
}



/* Edita a coluna do meio */
.column
{
  float: left;
  padding: 10px;    
}
.column.side
{
  width: 74.5%;
}
.column.middle
{
  width: 50%;
}

/* Limpar os pontos flutuantes(floats) depois das colunas */
section::after
{
    content: "";
    display: table;
    clear: both;
}

/* layout Responsivo */
@media screen and (max-width: 600px)
{
    .column.side, .column.middle
    {
        width: 100%;
    }
}

/* Estilizando o Footer */
footer
{
    background-color: #b4b4b4;
    padding: 30px;
    text-align: center;
}


a.active
{
    background-color: #4d4d4d;
    color: #d6d6d6;
}


/* Para colocar na Vertical */
aside
{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 770px;
    background-color: #929292;
}

.verticalD
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 770px;
    background-color: #929292;
}
/* Fim da Vertical */


/* Adicionando cartóes para inclusão de artigos */
article
{
    background-color: #4d4d4d;
    padding: 20px;
    margin: 20px;
}

/* Coluna da esquerda */
.leftcolumn
{
    float: left;
    width: 75%;
}

/* Responsavidade */
@media screen and (max-width: 800px)
{
    .leftcolumn
    {
        width: 100%;
        padding: 0;
    }

}

/* Fake Image */
.fakeimg
{
    background-color: #d6d6d6;
    width: 100%;
    padding: 16px;
    text-align: center;
}


input[type=text],select
{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    box-sizing: border-box;
    color: #b4b4b4;
}

input[type=text]:focus
{
    background-color: #b4b4b4;
}

input[type=submit]
{
    width: 30%;
    background-color: #929292;
    color: #929292;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: #d6d6d6;
}



/* BANER */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}


.container{
  position: relative;
  display: inline-block;
}

.container .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff0000;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}




/* Cor Verde */
/* Cor Verde */
/* Cor Verde */
/* Cor Verde */

.verde{
  position: relative;
  display: inline-block;
}

.verde .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.verde .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #57B542;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.verde .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.verde .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.verde .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.verde .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.verde .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.verde .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.verde .card:hover .contentBx{
  height: 210px;
}

.verde .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.verde .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.verde .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}


/* Cor Laranja */
/* Cor Laranja */
/* Cor Laranja */
/* Cor Laranja */

.Laranja{
  position: relative;
  display: inline-block;
}

.Laranja .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.Laranja .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E7710B;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.Laranja .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.Laranja .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.Laranja .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.Laranja .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.Laranja .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.Laranja .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.Laranja .card:hover .contentBx{
  height: 210px;
}

.Laranja .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.Laranja .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.Laranja .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}



/* Cor Cinza */
/* Cor Cinza */
/* Cor Cinza */
/* Cor Cinza */

.Cinza{
  position: relative;
  display: inline-block;
}

.Cinza .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.Cinza .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333E40;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.Cinza .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.Cinza .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.Cinza .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.Cinza .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.Cinza .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.Cinza .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.Cinza .card:hover .contentBx{
  height: 210px;
}

.Cinza .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.Cinza .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.Cinza .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}


/* Cor Azul */
/* Cor Azul */
/* Cor Azul */
/* Cor Azul */

.Azul{
  position: relative;
  display: inline-block;
}

.Azul .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.Azul .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0114BC;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.Azul .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.Azul .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.Azul .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.Azul .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.Azul .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.Azul .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.Azul .card:hover .contentBx{
  height: 210px;
}

.Azul .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.Azul .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.Azul .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}



/* Cor Branco */
/* Cor Branco */
/* Cor Branco */
/* Cor Branco */

.Branco{
  position: relative;
  display: inline-block;
}

.Branco .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.Branco .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E0DFE4;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.Branco .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.Branco .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.Branco .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.Branco .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.Branco .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.Branco .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.Branco .card:hover .contentBx{
  height: 210px;
}

.Branco .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.Branco .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.Branco .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}





/* Cor Preto */
/* Cor Preto */
/* Cor Preto */
/* Cor Preto */

.Preto{
  position: relative;
  display: inline-block;
}

.Preto .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.Preto .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #040404;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.Preto .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.Preto .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.Preto .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.Preto .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.Preto .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.Preto .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.Preto .card:hover .contentBx{
  height: 210px;
}

.Preto .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.Preto .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.Preto .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}



/* Cor Amarelo */
/* Cor Amarelo */
/* Cor Amarelo */
/* Cor Amarelo */

.Amarelo{
  position: relative;
  display: inline-block;
}

.Amarelo .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.Amarelo .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E7CD00;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.Amarelo .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.Amarelo .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.Amarelo .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.Amarelo .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.Amarelo .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.Amarelo .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.Amarelo .card:hover .contentBx{
  height: 210px;
}

.Amarelo .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.Amarelo .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.Amarelo .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}


/* Cor Azul Claro */
/* Cor Azul Claro */
/* Cor Azul Claro */
/* Cor Azul Claro */

.AzulClaro{
  position: relative;
  display: inline-block;
}

.AzulClaro .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.AzulClaro .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0083CA;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.AzulClaro .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.AzulClaro .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.AzulClaro .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.AzulClaro .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.AzulClaro .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.AzulClaro .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.AzulClaro .card:hover .contentBx{
  height: 210px;
}

.AzulClaro .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.AzulClaro .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.AzulClaro .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}



/* Cor Verde Marinho */
/* Cor Verde Marinho */
/* Cor Verde Marinho */
/* Cor Verde Marinho */

.VerdeMarinho{
  position: relative;
  display: inline-block;
}

.VerdeMarinho .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.VerdeMarinho .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #019095;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.VerdeMarinho .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.VerdeMarinho .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.VerdeMarinho .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.VerdeMarinho .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.VerdeMarinho .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.VerdeMarinho .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.VerdeMarinho .card:hover .contentBx{
  height: 210px;
}

.VerdeMarinho .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.VerdeMarinho .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.VerdeMarinho .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}



/* Cor Laranja */
/* Cor Laranja */
/* Cor Laranja */
/* Cor Laranja */

.Laranja{
  position: relative;
  display: inline-block;
}

.Laranja .card{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.Laranja .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FF5501;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.Laranja .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.Laranja .card:after{
  content: 'Size';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.Laranja .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.Laranja .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.Laranja .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
}

.Laranja .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.Laranja .card:hover .contentBx{
  height: 210px;
}

.Laranja .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.Laranja .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.Laranja .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
